body{
    background-color: rgb(14, 20, 20);
}
.search-form{
    padding: 20px;
    display: flex;
    gap: 20px;
}
.search-form input{
    background-color: transparent;
    border-style: solid;
    padding: 10px;
    color: white;
    outline: none;
    width: 100%;
}
.search-form input::placeholder{
    color: white;
}
.search-form button{
    background-color: white;
    width: 150px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.tabs{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tabs button{
    width: 100px;
    height: 30px;
}
.active{
    background-color: skyblue;
}
.non-active{
    background-color: rebeccapurple;
}